body {
  background-color: white;
}

h1 {
  font-family: ariel, sans-serif;
  font-size: 56px;
}

h2 {
  font-family: ariel, sans-serif;
  font-size: 30px;
}

#character-display {
  padding-top: 15px;
}

#portrait {
  width: 200px;
}

ul {
  list-style-type: none;
  width: 300px;
  align-content: center;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 14px;
}

#chart_div {
  background-color: white;
}
